{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      My top five tips for building a realistic prototype
    </h1>
   
    <ul class="govuk-list govuk-list--number">
      <li>Plan, plan and plan some more before you start to code</li>
      <li><a href="2">Use sessions to create real data and keep track of what's stored in them</a></li>
      <li>Build real calculations</li>
      <li>Use conditional elements - both content and styling</li>
      <li>Make use of fake pages</li>
    </ul>
 
   
  </div>
</div>

{% endblock %}
